# Dependencies
node_modules/

# Build output
dist/
build/
.next/
out/

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Docker volumes / local data
postgres-data/

# Testing / coverage
coverage/

# Misc
*.tsbuildinfo
.turbo/
bruno/
